$color: brown;
$font-weight: bold;
$font-family: Arial, Helvetica, sans-serif;

ul {
    font-size: 20px;
    color: $color;
    font-family: $font-family;
    font-weight: $font-weight;
}

ol {
    color: $color;
    font-family: $font-family;
    font-weight: $font-weight;
}